# Data directories
eeg-data/
intermediate-data/
model-data_30k/
model-data_7.5k/
model_data/
intermediate_data/
EEGPT/
# Model files
*.pth
models/
mvt_eeg.pth
best_mvt_model.pth
best_mvt_model_kfold.pth

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Logs
*.pdf
*.txt

# Database files
*.db